<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Go Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Connect to server</ion-label>
        <ion-button (click)="connectToSocket()">Check</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Disconnect from server</ion-label>
        <ion-button (click)="disconnectFromSocket()">Check</ion-button>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="pushNotificationsEnabled" [enableOnOffLabels]="true" color="success" (ionChange)="toggleChanged()">
          <ion-label>Push Notifications</ion-label>
          <ion-note color="medium">Unsubscribe at any time</ion-note>
        </ion-toggle>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-item>
        <ion-textarea label="Received data" labelPlacement="floating" rows="10" [(ngModel)]="messageList"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-note color="medium" class="ion-margin-horizontal">
      check network reception here before activation push notification</ion-note
    >
  </ion-content>

  <!-- <div id="container">


    <ion-card>
      <ion-card-content>
        <p>Connected to {{ serverUrl }}</p>
        <p *ngFor="let message of messages">{{ message }}</p>
      </ion-card-content>
    </ion-card>
  </div> -->
</ion-content>